@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1 style="color: red;">Day la trang index cua dich vu</h1>
@{
    ViewData["data"] = "Du lieu tu view data";
}
<h2>@ViewData["data"]</h2>
<a asp-page="dichvu1">dich vu 1</a>
<a asp-page="/INdex" asp-area="Product">Trang san pham</a>
@{
    @* string name {get;set;} = "Mai quoc khanh"; *@
    string print  (string name){
        return $"Xin chao: {name} ";
    }
}
<p>@print("Mai thao linh ")</p>
<a asp-></a>