@page
@model IndexModel
@{
    ViewData["Title"] = "Post 2a page";
    Layout = "_MyLayout";
}

<div class="text-center">
    <h1 class="display-4">Post 2</h1>
</div>
@section Noidungfooter{
    @* <p>Noi dung footer tu inndex</p> *@
    
}