@page
@model IndexModel
@{
    ViewData["Title"] = "Post 1 page";
    Layout = "_ChildLayout";
}

<div class="text-center">
    <h1 class="display-4">Post 1</h1>
</div>
@section Noidungfooter{
    <p>Noi dung footer tu inndex</p>
    
}