@{
    var title = ViewData["title"] ?? "Thong bao";
    var content =   ViewData["content"] ?? "Noi dung";

}
<div class="alert alert-danger">
    <strong>@title</strong>
    <br>
    @content
</div>